.imageBox{
    border-style: inset;
    border-width: 2px;
    border-color: #040404;
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 0px;
    
}
.imageBox:hover{
transform: scale(1.1);
}

